body {
  background-color: #ADD8E6; /* Light blue background */
  margin: 0;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.widget {
  background-color: white;
  border: 2px solid #5F9EA0; /* Light blue but darker than bg */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

h1 {
  color: #5F9EA0; /* Same as border color */
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

label {
  color: #333;
  font-size: 22px;
  display: block;
  margin: 20px 0 10px;
}

input[type="number"] {
  font-size: 24px;
  padding: 10px;
  width: 100px;
}

.button {
  display: inline-block;
  background-color: #5F9EA0;
  color: white;
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 24px;
  margin-top: 20px;
  cursor: pointer; /* Ensure button looks clickable */
}

.button:hover {
  background-color: #467f7d;
}

#gauge {
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin: 20px 0;
  height: 40px;
  overflow: hidden;
}

#gauge-inner {
  height: 100%;
  background-color: #5F9EA0;
  text-align: center;
  line-height: 40px; /* same as the height of the gauge for vertical centering */
  color: white;
  border-radius: 25px 0 0 25px;
  transition: width 0.5s ease-in-out;
}